<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% extends 'bootstrap/base.html' %}

    {% block title %}
        IC Books Thru Bars
    {% endblock %}


    {% block navbar %}
        <nav class="navbar navbar-light" style="background-color: #ffffff00;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href = "{{ url_for('index') }}">
                        <img src="{{url_for('static', filename='images/btb_logo.png')}}" width="40px" class="d-inline-block align-top" alt="Books Thru Bars">
                    </a>
                    <a class="navbar-brand" href = "{{ url_for('data') }}">
                        What We Do
                    </a>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block page %}

        <div class="container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <ul>
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}


        </div>

        {% block content %} {% endblock %}

    {% endblock %}
