{% extends 'base.html' %}

{% block content %}
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
            <style>
                h1, h2, h3, h4, h5, h6 {
                    font-family: 'Raleway',sans-serif;
                }
                p {
                    font-family: 'Montserrat', serif;
                    font-size: 20px;
                }
                body {
                    background-color: #E7E7E7;
                }
                .social:hover {
                    cursor: pointer;
                }
            </style>
        </head>
        <body>
            <div class="row" style="background-color: #042440;">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div style="text-align:center; color: white">
                        <br />
                        <br />
                        <br />
                        <h1>Calendar</h1>
                        <br />
                        <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cHBudHVhcDdycjcxNTBmZWg0YnN2ZWszYTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;showTz=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        <div class="row" style="background-color: #143F59;">
            <div class="col-md-12">
                <div style="color: white; padding: 10px">
                    <br />
                    <img src="{{url_for('static', filename='images/email_icon.jpg')}}" width="50px"> booksthrubars@gmail.com&nbsp;
                    <a href="https://www.instagram.com/icbooksthrubars/?hl=en" target="_blank">
                        <img src="{{url_for('static', filename='images/instagram_icon.jpg')}}" width="50px" class="social">
                    </a> icbooksthrubars
                    <a href="https://www.facebook.com/ICBTB/" target="_blank">
                        <img src="{{url_for('static', filename='images/facebook_logo.jpg')}}" width="50px" class="social">
                    </a> IC Books Thru Bars
                    <br />
                </div>
            </div>
        </div>
        </body>
{% endblock %}