{% extends 'base.html' %}

{% block content %}
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
                h1, h2, h3, h4, h5, h6 {
                    font-family: 'Raleway';
                }
                p {
                    font-family: 'Montserrat';
                    font-size: 15px;
                }
                body {
                    background-color: #E7E7E7;
                }
                .big_p {
                    font-size: 30px;
                }
            </style>
        </head>
        <body>
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <img src="{{url_for('static', filename='images/header_image.jpg')}}" width="100%">
                    </header>
                </div>
            </div>
            <div class="row" style="background-color: #11557C">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div style="text-align:center; color: white">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1>Our Mission</h1>
                        <p>We believe that everyone has the right to literacy and an education. The mission of IC Books Thru Bars is to maintain an operational program which sends reading literature to incarcerated individuals as well as raise awareness of issues related to incarceration.</p>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        <div class="row" style="background-color: #042440;">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <div style="text-align:center; color: white">
                    <h1>Upcoming Events!</h1>
                    <br />
                    <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=cHBudHVhcDdycjcxNTBmZWg0YnN2ZWszYTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;mode=AGENDA&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border:solid 1px #777" width="350" height="500" frameborder="0" scrolling="no"></iframe>
                    <br />
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <div style="text-align:center; color: white">
                    <h1>Contact Us!</h1>
                    <br />
                    <br />
                    <br />
                    <p class="big_p">IC Books Thru Bars</p>
                    <p class="big_p">P.O. Box 113</p>
                    <p class="big_p">Brooktondale, NY</p>
                    <p class="big_p">14817</p>
                    <br />
                    <p style="font-size: 25px">booksthrubars@gmail.com</p>
                    <br />
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row" style="background-color: #143F59;">
            <div class="col-md-12">
                <div style="color: white; padding: 10px">
                    <br />
                    <img src="{{url_for('static', filename='images/email_icon.jpg')}}" width="50px"> booksthrubars@gmail.com<p></p>
                    <img src="{{url_for('static', filename='images/instagram_icon.jpg')}}" width="50px"> icbooksthrubars<p></p>
                    <img src="{{url_for('static', filename='images/facebook_logo.jpg')}}" width="50px"> IC Books Thru Bars<p></p>
                    <br />
                </div>
            </div>
        </div>
        </body>
{% endblock %}